{% if preparedScheduler %}
    <table>
        {% for task in preparedScheduler %}
            <td>{{ task.label }}</td><td> <strong>{{ task.witness }}</strong></td></tr>
        {% endfor %}
    </table>
{% endif %}