{% extends 'base.html.twig' %}

{% block title %}New Witness{% endblock %}

{% block body %}
    <h1>Create new Witness</h1>

    {{ include('witness/_form.html.twig') }}

    <a href="{{ path('app_witness_index') }}">back to list</a>
{% endblock %}
