{% macro toggleOrderParams(pathName, orderByField, label) %}
    {% if app.request.query.get('orderBy', null) == orderByField
        and  app.request.query.get('orderDir', 'asc') == 'asc' %}
        {% set queryParams = app.request.query.all | merge({'orderBy': orderByField, 'orderDir': 'desc'}) %}
    {% else %}
        {% set queryParams = app.request.query.all | merge({'orderBy': orderByField, 'orderDir': 'asc'}) %}
    {% endif %}
    <a href="{{ path(pathName, queryParams) }}">{{ label }}</a>
{% endmacro %}